/.gradle/
/.idea/
/amg88xx/.cxx/
/amg88xx/build/
/app/build/
/imlx90640/.cxx/
/imlx90640/build/
/imlx90641/.cxx/
/imlx90641/build/
/mlx90621/.cxx/
/mlx90621/build/
/omron/.cxx/
/omron/build/
/rtx2080ti/.cxx/
/rtx2080ti/build/
/serialport/.cxx/
/serialport/build/
/temperaturelib/build/
/local.properties